h2, h3 {

    margin: 0;
    padding: 10px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

.App {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 1px 1px 20px #0005;
    overflow: hidden;
    width: 420px;
}

.card__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.card__item {

    text-align: center;
}

.card__btn {
    border-radius: 50%;
    color: #fff;
    flex-direction: column;
    padding-bottom: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    width: 50px;
    aspect-ratio: 1;
    font-size: 2rem;
    align-items: center;  
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    margin-left: 320px;
}

.card__btn:hover {
    box-shadow:  0 0 5px #000;
    transition: box-shadow 200ms ease;
    -webkit-transition: box-shadow 200ms ease;
    -moz-transition: box-shadow 200ms ease;
    -ms-transition: box-shadow 200ms ease;
    -o-transition: box-shadow 200ms ease;
}
.author{

    align-self: end;
}



